@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Patrick+Hand&family=Stack+Sans+Headline:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.heading {
    font-size: 50px;
    margin-bottom: 30px;
    font-family: 'bangers';
    color: rgb(255, 238, 0);
    text-shadow: 1px 1px 5px black;
}

img {
    width: 500px;
    position: absolute;
    left: 1400px;
    bottom: 230px;
    box-shadow: 1px 2px 5px grey;
    border-radius: 15px;

}

.words-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(136, 191, 240);
    width: 300px;
    position: absolute;
    left: 150px;
    bottom: 120px;
    box-shadow: 1px 5px 10px grey;
    border-radius: 10px;
}

.words {
    max-width: 300px;
    font-size: 25px;
    padding: 10px;
}

p {
    max-width: 800px;
    font-size: 31px;
    font-family: 'patrick hand';
    font-style: italic;
    text-align: justify;
}

.inputs {
    font-size: 31px;
    font-family: 'patrick hand';
    font-style: italic;
    border-style: none;
    background-color: aliceblue;
    border-radius: 10px;
    width: 100px;
    height: 39px;
    color: darkorange;
}